name: Ruby CI

on:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2.2

      - name: Check Ruby version
        uses: ./.github/actions/check-ruby-version
        with:
          required-version: "3.2.2"
